.center {
    text-align: center;
}

.my-indicator {
    display: none;
}

.htmx-request.my-indicator {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        display: none
    }
}