<html lang="en">
<head>
    <title>Babble</title>
    <link rel="stylesheet" href="/css/pico.lime.css">
    <link rel="stylesheet" href="/css/site.css">
    <script src="/js/site.js"></script>
    <script src="/js/Sortable.js"></script>
    <script src="/js/htmx.js"></script>
</head>
<body>
<main class="container">
    <nav style="justify-content: space-between; height: 100px; position: sticky; top: 0; background-color: #13171f; border-bottom: #b6b9b7 2px solid;">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 57%;">
            <ul>
                <li><a href="/users/logout">Logout</a></li>
            </ul>
            <h1 style="padding-bottom: 35px"><img style="height: 60px" src="/img/blabberIcon.png" alt="blabberLogo"> Blabber</h1>
        </div>

        <ul>
            <li><a href="/homepage">View Posts</a></li>
            <li><a href="/users/getUser">Create / Edit</a></li>
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
</main>
</body>
</html>