<form
        id="main"
        action="/users/editProfile/image"
        method="post"
        style="max-width: 800px; position: sticky; top: 115px; background-color: #1e242d; color: #1d1f21; border-radius: 12px; padding: 20px 20px 0 20px; margin: 15px auto; z-index: 10"
>
    <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
        <div id="icons-container" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 15px;">
            <label>
                <input type="radio" name="selectedIcon" value="/img/bee.png" hidden/>
                <img src="/img/bee.png" class="icon" alt="Bee Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/cat.png" hidden/>
                <img src="/img/cat.png" class="icon" alt="Cat Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/chameleon.png" hidden/>
                <img src="/img/chameleon.png" class="icon" alt="Chameleon Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/chick.png" hidden/>
                <img src="/img/chick.png" class="icon" alt="Chick Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/cow.png" hidden/>
                <img src="/img/cow.png" class="icon" alt="Cow Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/crocodile.png" hidden/>
                <img src="/img/crocodile.png" class="icon" alt="Crocodile Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/dog.png" hidden/>
                <img src="/img/dog.png" class="icon" alt="Dog Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/elephant.png" hidden/>
                <img src="/img/elephant.png" class="icon" alt="Elephant Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/fox.png" hidden/>
                <img src="/img/fox.png" class="icon" alt="Fox Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/frog.png" hidden/>
                <img src="/img/frog.png" class="icon" alt="Frog Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/horse.png" hidden/>
                <img src="/img/horse.png" class="icon" alt="Horse Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/koala.png" hidden/>
                <img src="/img/koala.png" class="icon" alt="Koala Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/lion.png" hidden/>
                <img src="/img/lion.png" class="icon" alt="Lion Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/owl.png" hidden/>
                <img src="/img/owl.png" class="icon" alt="Owl Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/parrot.png" hidden/>
                <img src="/img/parrot.png" class="icon" alt="Parrot Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/penguin.png" hidden/>
                <img src="/img/penguin.png" class="icon" alt="Penguin Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/shark.png" hidden/>
                <img src="/img/shark.png" class="icon" alt="Shark Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/squirrel.png" hidden/>
                <img src="/img/squirrel.png" class="icon" alt="Squirrel Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/turtle.png" hidden/>
                <img src="/img/turtle.png" class="icon" alt="Turtle Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/whale.png" hidden/>
                <img src="/img/whale.png" class="icon" alt="Whale Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/animal-test.png" hidden/>
                <img src="/img/animal-test.png" class="icon" alt="Animal Test Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/dinosaur.png" hidden/>
                <img src="/img/dinosaur.png" class="icon" alt="Dinosaur Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/duck.png" hidden/>
                <img src="/img/duck.png" class="icon" alt="Duck Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/hedgehog.png" hidden/>
                <img src="/img/hedgehog.png" class="icon" alt="Hedgehog Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/pig.png" hidden/>
                <img src="/img/pig.png" class="icon" alt="Pig Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/sloth.png" hidden/>
                <img src="/img/sloth.png" class="icon" alt="Sloth Icon"/>
            </label>
            <label>
                <input type="radio" name="selectedIcon" value="/img/snake.png" hidden/>
                <img src="/img/snake.png" class="icon" alt="Snake Icon"/>
            </label>
        </div>
    </div>
    <div style="margin-top: 10px; border-top: grey 1px solid;">
        <div style="display: flex;align-items: center; margin-top: 10px; align-content: center; justify-content: space-between">
            <button
                    style="background-color: #000000; border-color: white; color: white; width: 200px; padding: 0; margin-bottom: 10px; height: 50px"
                    hx-get="/users/editProfile/{{False}}"
                    hx-target="#main"
                    hx-swap="outerHTML">
                Cancel
            </button>
            <button
                    type="submit"
                    style="background-color: #4f8a8b; border-color: white; color: white; width: 200px; padding: 0; margin-bottom: 10px; height: 50px">
                Save
            </button>
        </div>
    </div>
</form>

<style>
    .icon {
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: transform 0.2s ease, border-color 0.2s ease;
    }

    .icon:hover {
        transform: scale(1.1);
    }

    .icon.selected {
        border-color: #4f8a8b;
    }

    img {
        height: 48px;
    }

    @media (max-width: 1200px) {
        img {
            height: 70px;
        }
    }

    input[type="radio"]:checked + img {
        outline: 4px solid #4f8a8b; /* Add outline when selected */
        transform: scale(1.1); /* Slightly enlarge */
    }
</style>