<form id="formID-{{tweet.id}}"
      hx-patch="/tweets/{{ tweet.id }}/update/"
      hx-swap="outerHTML"
      hx-target="#tweet-text-{{ tweet.id }}">
    <textarea autofocus required maxlength="300" minlength="1" type="text" name="message" class="editArea">{{tweet.message.strip()}}</textarea>
    <button type="submit"
            class="updateButton">
        Update
    </button>
</form>

<style>
    .updateButton{
        font-size: 18px;
        background-color: #4f8a8b; border: white; color: white; margin-top: 10px;
    }

    .editArea {
        font-size: 18px;
        line-height: 1.6;
        font-weight: bold;
        color: #f0f1f3;
        border: white
    }

    button {
        height: 60px;
    }

    @media (max-width: 1200px) {
        button {
            height: 100px;
        }
        .editArea{
            font-size: 30px;
        }
        .updateButton{
            font-size: 30px;
        }
    }
</style>