<header class="container center" style=" height: 180px; position: sticky; top: 100px; background-color: #13171f; border-bottom: #b6b9b7 2px solid;">
    <h1><img style="height: 80px" src="/img/blabberIcon.png" alt="blabberLogo"> Blabber</h1>
    <input style="float: right; width: 300px" type="search" name="q" placeholder="Search For a User"
           value="{{ search }}"
           hx-post="/todos/active"
           hx-trigger="input changed delay:500ms, search"
           hx-target="#todos-list"
           hx-indicator=".htmx-indicator">
</header>
<div style="padding: 20px;"
>
    <div hx-get="/tweets/1"
         hx-trigger="revealed"
         hx-swap="afterend"
         hx-indicator="#spinner-0"
    >
    </div>
    <img id="spinner-0"
         class="my-indicator"
         src="/img/cat.jpeg"
    />
</div>

